<div class="container">
    <footer class="footer">
        <small>
            Copyrights &copy <a href="www.google.co.in">https://www.google.com</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About" , pages_about_path %></li>
            </ul>
        </nav>
        
    </footer>
    
    
</div>